.footer-container{
    width: 100vw;
    /* min-height: 50vh; */
    display: flex;
    justify-content: center;
    /* position: static; */
}

.footer-main{
    width:80vw;
    margin: 0vh 10vw;
    padding-top: 5vh;
    padding-left: 1.8vw;
}

.tagline{
    float: left;
    font-size: 40px;
    font-weight: bold;
    color: #177580;
    scale: .8; opacity: 0;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 300px;
} 

/* hr{
    display: none;
} */

.attachments{
    display: flex;
    margin-top: 10vh;
    /* justify-content: center; */
}

.attachments1{
    margin-left: 5vw;
    width: 25vw;
    min-height: 22vh;
    display: block;
}

.attachments2{
    margin-left: 5vw;
    width: 35vw;
    min-height: 22vh;
    display: block;
}

.attachments1 a{
    /* margin-bottom: 10px; */
    text-decoration: none;
    font-size: large;
    color: white;
}

.attachments2 a{
    text-decoration: none;
    /* margin-bottom: 10px; */
    font-size: large;
    color: white;
}

.attachments1 p{
    margin-bottom: 10px;
}
 
.attachments1 p:hover{
    transform: scale(1.1);
    margin-left: 10px;
}

.attachments2 p:hover{
    transform: scale(1.1);
    margin-left: 10px;
}

.attachments2 p{
    margin-bottom: 10px;
}

.bottom-footer{
    display: flex;
}

.copyright{
    margin:10px 10px;
    color: white;
}

.copyright a{
    text-decoration: none;
    color: #b6ee1a;
    font-family:"Permanent Marker", "Caveat", "Pacifico", cursive;
    font-weight: 40;
    /* font-style: normal; */
    font-size: large;
}
 
.socialid{
    float: left;
    /* margin-left: 2vw; */
    padding-top: 15px;
    color: white;

    /* background-color: black; */
}

.socialid a{
    margin: 0px 6px;
    text-decoration: none;
    color: #177580;
    /* color: #177580; */
    font-size: large;
}

.socialid a i:hover{
    transform: scale(1.3);
}

@keyframes fadein {
    to { scale: 1; opacity: 1;}    
}

@media (max-width:740px){
    .tagline{
        font-size:xx-large;
    }
}

@media (max-width:650px){
    .copyright{
        font-size:10px
    }

    .copyright a{
        font-size:10px;
    }


    .socialid i{
        font-size:15px;
        margin-bottom: 1vh;
    }
}
