<div class="footer-container">
    <div class="footer-main">
        <div class="tagline">
            <p>Your career, Your way</p>
        </div>
     
        <div class="attachments">
            <div class="attachments1">
                <p><a routerLink="/About">About us</a></p>
                <p><a routerLink="/Contact us">Contact us</a></p>
                <p><a routerLink="/Careers">Popular sectors</a></p>
                <p><a routerLink="/Services">Services</a></p>
            </div>
        
            <div class="attachments2">
                <p><a routerLink="/Privacy">Privacy notice</a><br></p>
                <p><a routerLink="/Terms">Terms & Conditions</a><br></p>
                <p><a routerLink="/Cookies">Cookies policy/Setting</a><br></p>
                <p><a routerLink="/Access">Accessibility Statement</a><br></p>
            </div>
        </div><hr>


        <div class="bottom-footer">
            <div class="copyright">
                <p>Copyright &copy; All Rights Reserved by <a routerLink="/Home">CreerView.com</a></p>
            </div>
     
            <div class="socialid">
                <a href="https://www.facebook.com/" target="main"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/?lang=en" target="main"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://github.com/" target="main"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/feed/" target="main"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>

    </div>

</div>