<div class="as-container">
    <div class="as-main">
        <div class="as-heading">
            <p>Accessibility Statement</p>
            <div class="as-heading-des">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ullam alias iusto aperiam sed, sit corporis odit magnam porro soluta hic eligendi explicabo quaerat eos, voluptates repellendus tempora. Odit labore repellendus soluta vel pariatur officiis cupiditate voluptatem accusantium ex molestiae nihil, facere vitae odio cum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ex iure quisquam commodi quas explicabo facilis repellendus maiores, natus odit ea! Delectus at culpa vero aspernatur dicta. Impedit, debitis maiores?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero veniam asperiores doloremque harum iste in debitis, maiores cupiditate accusamus. Alias eius ut sapiente harum magnam. Unde aperiam aut, doloribus soluta, exercitationem libero in molestiae ex fugit suscipit, et possimus! Vel rem necessitatibus natus temporibus molestias dolor quidem sapiente deleniti eveniet.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur impedit esse dolore, totam iste dolorem enim nemo et quisquam ipsam amet facere necessitatibus recusandae, explicabo eligendi voluptatibus deserunt ullam? Repudiandae nobis possimus reiciendis, nulla asperiores officiis mollitia sint corrupti omnis consectetur veniam sequi, quas voluptatum rem nam amet nemo eaque tempore, sapiente consequatur? Asperiores quaerat cumque qui? Amet sapiente vel doloremque a! Dolorem, mollitia, tempore numquam dolores adipisci quos temporibus nulla laboriosam at dignissimos delectus ipsam tempora. Tenetur et magni quos suscipit exercitationem vel maxime.</p>

                <ul>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus labore odio aut.</li>
                </ul>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda odit ex ab reprehenderit architecto blanditiis nulla! Ut sed deserunt libero quisquam ipsa voluptate aliquid illo enim dolorem at sint totam exercitationem ullam fugiat tempore consequatur architecto quidem, recusandae esse dolor odio voluptates magnam suscipit incidunt! Molestiae voluptate necessitatibus sed fugiat accusamus, impedit harum ipsum fugit, explicabo, quos natus? Natus at quaerat, impedit soluta tempore nulla, eveniet perferendis unde ratione, ipsam excepturi consectetur odio omnis! Perferendis aspernatur aut optio sapiente iste, expedita, aperiam voluptatum dolore dolorem voluptatem, quod quas repellat cumque vel dolores nobis doloribus id sint? Tempora, commodi.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, illum optio odio id laborum quos iusto adipisci vel esse ducimus, saepe at, molestias et? Amet cumque maiores non nemo molestiae quas deserunt quidem iusto commodi quibusdam provident vitae debitis, est magnam quae reiciendis!</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor reprehenderit, asperiores omnis facilis porro cupiditate sint quisquam consequatur nostrum ducimus laudantium, voluptates sapiente velit sunt voluptas. Vitae dolores quo, mollitia soluta minus dignissimos dolorem, cumque molestiae illo, accusamus neque porro.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ducimus, quibusdam, explicabo fugiat delectus totam odit doloremque quas similique laudantium, necessitatibus officiis. Accusamus, excepturi deserunt! Hic tempore officia a recusandae, culpa incidunt?</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates voluptatum et minus soluta similique quae veniam repudiandae architecto odit impedit? Recusandae itaque eius inventore eaque minima minus nam voluptas magnam dignissimos enim laboriosam doloribus soluta in laudantium ipsum quibusdam optio facilis ab consequuntur mollitia culpa, iste sequi repudiandae pariatur. Unde consequatur ducimus minus, quisquam repudiandae dolores rem veritatis commodi maxime. Impedit nesciunt commodi aspernatur, doloribus amet dicta reiciendis tenetur non quasi error quos aperiam labore adipisci veniam eius explicabo excepturi quibusdam cumque maxime neque? Soluta earum dolorum enim veritatis voluptatem repellat, nulla voluptate corporis fugiat corrupti, nostrum facilis tempora veniam nobis? Nemo cum possimus iure.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium vitae expedita ex aliquam numquam, maiores, itaque velit voluptatibus assumenda, at amet facere incidunt. Ipsa id corrupti repellat non voluptate ipsam laudantium autem libero cum fugiat dolore deserunt, tempora inventore perspiciatis! Voluptatem error maiores commodi cum reprehenderit nobis iste odio libero maxime. Assumenda obcaecati quos cum ipsam, sapiente aliquid veniam libero dignissimos quam aliquam consequatur quasi doloremque officia magnam non itaque nesciunt laborum autem odio asperiores illo?</p>
                
                <ul>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis laborum adipisci rem!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus labore odio aut.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt?</li>
                </ul>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque fuga, corrupti architecto, commodi blanditiis rem eius deleniti dolore deserunt magni incidunt fugit libero ducimus, consequatur ut ex in cum molestiae? Exercitationem quidem ullam, officia deserunt nesciunt accusamus eligendi animi labore ab aspernatur ut necessitatibus, eaque cum mollitia. Ex aut velit eos, excepturi repellendus minus!</p>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis sequi explicabo nam, ab alias, laboriosam, velit modi nulla rerum porro quas nihil omnis aliquid magni voluptate. Soluta possimus suscipit odit totam debitis tempora sunt ea.</p>
            </div>
        </div>
    </div>
</div>
