.cps-container{
    width: 100vw;
}

.cps-main{
    width: 80vw;
    margin: 0vh 10vw;
}

.cps-heading{
    padding-top: 24vh;
    color: #177580;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    animation: heading-fadein linear .8s forwards;
}

.cps-heading-des{
    color: white;
    font-size: large;
    font-weight: lighter;
    margin-top: 5vh;
    opacity: 0;
    animation: heading-fadein linear .9s forwards;
}

.s1-heading{
    padding-top: 15vh;
    margin-left: 3vw;
    color: #177580;
    font-size:x-large;
    font-weight: bold;
}

.s1-des{
    color: white;
    margin-left: 3vw;
    font-size: large;
    font-weight: lighter;
    margin-top: 5vh;
}

.s2-heading{
    padding-top: 10vh;
    margin-left: 3vw;
    color: #177580;
    font-size:x-large;
    font-weight: bold;
}

.s2-des{
    color: white;
    margin-left: 3vw;
    font-size: large;
    font-weight: lighter;
    margin-top: 5vh;
}

.s3-heading{
    padding-top: 10vh;
    margin-left: 3vw;
    color: #177580;
    font-size:x-large;
    font-weight: bold;
}

.s3-des{
    color: white;
    margin-left: 3vw;
    font-size: large;
    font-weight: lighter;
    margin-top: 5vh;
}

.s4-heading{
    padding-top: 10vh;
    margin-left: 3vw;
    color: #177580;
    font-size:x-large;
    font-weight: bold;
}

.s4-des{
    color: white;
    margin-left: 3vw;
    font-size: large;
    font-weight: lighter;
    margin-top: 5vh;
}

p{
    margin: 5vh 0vw;
    opacity: 0;
    scale: .9;
    animation: section-fadein linear forwards;
    animation-timeline: view();
    animation-range: 100px 200px;
}

ul{
    margin-left: 3vw;
    opacity: 0;
    scale: .9;
    animation: section-fadein linear forwards;
    animation-timeline: view();
    animation-range: 100px 200px;
}

@keyframes heading-fadein {
    to { opacity: 1;}
}

@keyframes section-fadein {
    to { scale: 1; opacity: 1;}
}

@media (max-width:740px){
    .cps-heading{
        font-size:40px;
    }
}

@media (max-width:431px) and (max-height:935px){    
    .cps-heading{
        padding-top: 15vh;
        margin-left: 3vw;
        font-size: 23px;
    }
    
    .cps-heading-des{
        font-size: medium;
        margin-top: 2vh;
    }
    
    .s1-heading{
        padding-top: 0vh;
        font-size:23px;
    }
    
    .s1-des{
        font-size: medium;
        margin-top: 2vh;
    }
    
    .s2-heading{
        padding-top: 0vh;
        font-size:23px;
    }
    
    .s2-des{
        font-size: medium;
        margin-top: 2vh;
    }
    
    .s3-heading{
        padding-top: 0vh;
        font-size:23px;
    }
    
    .s3-des{
        font-size: medium;
        margin-top: 2vh;
    }
    
    .s4-heading{
        padding-top: 0vh;
        font-size:23px;
    }
    
    .s4-des{
        font-size: medium;
        margin-top: 2vh;
    }
    
    p{
        margin: 2vh 0vw;
    }
    
    ul{
        margin-left: 6vw;
    }
}
