<div class="about-container">
    <div class="about-main">
        <div class="about-heading">
            <p>About Us</p>
        </div>
        <div class="section1">
            <img src="../../assets/About-img1.jpg" alt="img">
            <div class="s1-head">
                <p>Unlock your potential with us.</p>
            </div>
            <div class="s1-des">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim sit exercitationem perspiciatis aspernatur pariatur eaque cumque tenetur ratione facilis. Vel natus sapiente totam quidem, perspiciatis deserunt ab odit repellendus ipsum rem, aliquam quia hic temporibus minus. Eaque recusandae consequuntur adipisci est aspernatur dolorum nostrum dolorem? Deleniti quo illo recusandae reiciendis!</p>
            </div>
        </div>

        <div class="section2">
            <img src="../../assets/About-img2.jpg" alt="img">
            <div class="s2-head">
                <p>What we value</p>
            </div>
            <div class="s2-des">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam provident illum doloremque iste voluptatem laudantium aperiam sint officiis amet nihil, tenetur, dignissimos eum vero suscipit saepe fuga exercitationem quisquam quia itaque enim! Laudantium consequuntur dolores repudiandae vel tempore maiores laborum non quae, dicta, impedit labore perspiciatis necessitatibus maxime, a eos consequatur. Perferendis exercitationem doloremque voluptas vitae similique enim nesciunt! Nostrum.</p>
            </div>
        </div>

        <div class="section3">
            <img src="../../assets/About-img3.jpeg" alt="img">
            <div class="s3-head">
                <p>What we believe</p>
            </div>
            <div class="s3-des">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti aut, quibusdam voluptatibus fuga asperiores aliquid consectetur doloribus rerum dolorum aspernatur a repellat illo officiis eligendi nostrum. Animi dolor mollitia cupiditate, sed molestias pariatur non doloremque dolore fugiat error? Odio, culpa distinctio ipsam dolorum nostrum assumenda?</p>
            </div>
        </div>

        <div class="section4">
            <img src="../../assets/About-img4.jpg" alt="img">
            <div class="s4-head">
                <p>Who we are</p>
            </div>
            <div class="s4-des">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nisi repudiandae, omnis aspernatur expedita a quasi non praesentium eaque perspiciatis minima similique nesciunt incidunt beatae esse adipisci voluptate atque modi rerum qui at itaque hic. Qui numquam nemo cupiditate. Quasi cumque amet obcaecati in! Vero.</p>
            </div>
        </div>

        <div class="section5">
            <img src="../../assets/About-img5.jpeg" alt="img">
            <div class="s5-head">
                <p>How we behave</p>
            </div>
            <div class="s5-des">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas nobis totam accusamus dolores, eius adipisci odio, itaque obcaecati, quos eligendi asperiores dolore architecto dignissimos consectetur voluptas! Neque minima iure magnam. Aspernatur unde eligendi perferendis reprehenderit illo fugit rerum atque architecto debitis quidem ducimus corporis quas cupiditate aliquam, in voluptas, eveniet libero odio pariatur quos excepturi temporibus.</p>
            </div>
        </div>
    </div>
</div>