.service-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-main{
    width: 80vw;
    margin: 0 10vw;
    padding-left: 1vw;
}
 
.service-head{
    color: #177580;
    padding-top: 15vh;
    /* padding-top: 70px; */
    /* height: 30vh; */
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 50px;
    scale: .8; opacity: 0;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 100px 500px;
}

.services{
    /* cursor: pointer; */
    width: 75vw;
    min-height: 10vh;
    margin: 1vh 2.5vw;
    padding: 5vh 0vw;
    /* background-color: #013442; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:large;
    scale: .9; opacity: 0.2;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 100px 250px;
}

.service-main a{
    opacity: 0.2;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 80px 140px;
}

.services:hover{
    width: 77vw;
    margin: 1vh 1.5vw;   
}

.service-name{
    position: absolute;
    width: 14vw;
    top: 2.5vh;
    left: 0;
    text-align: center;
    min-height: 10vh;
    padding-top: 6vh;
    display: inline-block;
    /* background-color: black; */
    color: white;
    border-right: 3px solid black;
}
 
.service-description{
    width: 40vw;
    min-height: 15vh;
    /* padding-top: 6vh; */
    /* margin-top: 2vh; */
    display: inline-block;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 20px;
    text-align: bottom;
    /* align-self: center; */
    /* background-color: #000000; */
    color: white;
}



.service-btn{
    width: 5vw;
    position: absolute;
    top:5vh;
    right: 10vw;
    /* display: inline-block;S */
    background-color: none;
    /* color: white; */
}

button{
    cursor: pointer;
    margin-left: 6vw;
    width: 3vw;
    min-height: 10vh;
    font-size:xx-large;
    background-color: transparent;
    color: white;
    border: none;
}

a{
    margin-left: 65vw;
    color:#177580;
    text-decoration: none;
}



@keyframes fadein {
    to { scale: 1; opacity: 1;}    
}

a:hover{
    color: #b6ee1a;
}

@media (max-width:740px) {

    .service-head{
        font-size:xx-large;
    }

    .service-name{
        min-width: 25vh;
    }

    .service-description{
        display: none;
    }

    .service-btn{
        right: 20vw;
    }

    a{
        margin-left: 60vw;   
    }
}

@media (max-width:530px){
    a{
        margin-left: 55vw;   
    }
}
