.service-container{
    width: 100vw;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-main{
    width: 80vw;
    margin: 0 10vw;
    padding-left: 1vw;
}
  
.service-head{
    color: #177580;
    padding-top: 15vh;
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 50px;
    scale: .8; opacity: 0;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 100px 500px;
}

.services{
    width: 75vw;
    min-height: 10vh;
    margin: 1vh 2.5vw;
    padding: 5vh 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:large;
    scale: .9; opacity: 0.2;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 100px 250px;
}

.service-main a{
    opacity: 0.2;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 80px 140px;
}

.services:hover{
    width: 77vw;
    margin: 1vh 1.5vw;   
}

.service-name{
    position: absolute;
    width: 14vw;
    top: 2.5vh;
    left: 0;
    text-align: center;
    min-height: 10vh;
    padding-top: 6vh;
    display: inline-block;
    color: white;
    border-right: 3px solid black;
}
 
.service-description{
    width: 40vw;
    min-height: 15vh;
    display: inline-block;
    margin-left: 20px;
    text-align: bottom;
    color: white;
}



.service-btn{
    width: 5vw;
    position: absolute;
    top:5vh;
    right: 10vw;
    background-color: none;
}

button{
    cursor: pointer;
    margin-left: 6vw;
    width: 3vw;
    min-height: 10vh;
    font-size:xx-large;
    background-color: transparent;
    color: white;
    border: none;
}

a{
    margin-left: 65vw;
    color:#177580;
    text-decoration: none;
}



@keyframes fadein {
    to { scale: 1; opacity: 1;}    
}

a:hover{
    color: #b6ee1a;
}

@media (max-width:740px) {

    .service-head{
        font-size:xx-large;
    }

    .service-name{
        min-width: 25vh;
    }

    .service-description{
        display: none;
    }

    .service-btn{
        right: 20vw;
    }

    a{
        margin-left: 60vw;   
    }
}

@media (max-width:530px){
    a{
        margin-left: 55vw;   
    }
}

@media (max-width:431px) and (max-height:935px){
    .service-container{
        width: 100vw;
        min-height: 100%;
    }
      
    .service-head{
        padding-top: 5vh;
        font-size: 23px;
        text-align: center;
    }
    
    .services{
        min-height: 6vh;
    }
    
    .service-name{
        min-height: 6vh;
        padding-top: 5vh;
    }    
    
    .service-btn{
        top:4vh;
    }
    
    button{
        margin-left: 12vw;
        min-height: 8vh;
        font-size:x-large;
    }
}

@media (max-width:422px){
    a{
        margin-left: 50vw;   
    }
}
