.app-container {
    background-color: rgb(0, 0, 0);
}

.loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    /* color: white; */
}

.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ring {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
    /* background-color: black; */
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #177580;
    }
    
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #b6ee1a;
    }
    
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #177580;
    }
}


.ring::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}


span {
    /* margin-left: 10px; */
    /* padding-left: 10px; */
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 50%;
    color: gray;
    font-size: medium;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 120px;
    animation: text 2s ease-in-out infinite;
}

@keyframes text {
    50% {
        color: transparent;
    }
}