.log-container{
    width: 100vw;
    height: 100vh;
    z-index: 100;
    color: white;
    position: fixed;
    top: 0;
    /* background: linear-gradient( to bottom right, rgb(0, 0, 28), #15482f) ; */
    background-color: black;
}

.log-main{
    width: 80vw;
    height: 100vh;
    margin: 0vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-head{
    position: absolute;
    top: 40vh;
    left: 10vw;
    margin-right:10vw ;
    font-size: large;
    font-weight: bold;
}

.log-heading p{
    margin-left: 1vw;
    margin-top: 1vh;
}

.logo{
    color: #b6ee1a;
    font-family:"Permanent Marker", "Caveat", "Pacifico", cursive;
    font-weight: 400;
    /* font-style: normal; */
    font-size: x-large;
    text-shadow: 3px 3px 10px gray;
}


#s1{
    font-size: 70px;
    font-weight: bolder;
}
#s2{
    font-size: 40px;
    font-weight: bold;
}
#s3{
    font-size: 70px;
    font-weight: bolder;
}
#s4{
    font-size: 40px;
    font-weight: bold;
}


/* .login-box{
    text-align: center; 
    width: 25vw;
    height: 50vh;
    background-color: #6db1b9;
    box-shadow: 5px 5px 30px 2px #555151;
    border-radius: 2px;
} */

.login-form{
    position: absolute;
    top: 25vh;
    right: 20vw;
    display: inline-block;
    width: 25vw;
    min-height: 50vh;
    background-color: white;
    border-radius: 2px;
}

.cancel{
 position: absolute;
 top: 2vh;
 right: 2vw;
}

.input-box{
    color: #000000fc;
    width: 80%;
    margin: 2% 10% 1% 10%;
}

input{
    width: 99%;
    height: 4vh;
    border-radius: 5px;
    margin-top: 0.5vh;
    border: 1px solid gray;
}

.login-form h2{
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
    color: #000000fc;
}

.log-btn{
    width: 80%;
    height: 4vh;
    margin: 2vh 10%;
    margin-bottom: 5vh;
    background-color: #222020fc;
    border: #222020fc 1px solid;
    font-size: large;
    color: white;
    border-radius: 4px;
}


.login-form a{
    text-decoration: none;
    color: black;
    /* margin-top: 5vh; */
}



@media (max-width:800px){
    .log-head{
        top: 10vh;
        left: 28vw;
    }
    .login-form{
        width: 45vw;
        top: 40vh;
        right: 25vw;
    }
}

@media (max-width:600px){
    .log-head{
        left: 25vw;
    }
}
@media (max-width:450px){
    .log-head{
        left: 20vw;
    }
}
