<div class="log-container">
    <div class="log-main">

        <div class="log-head">
            <div class="log-heading">
                <div class="logo">
                    <span id="s1">C</span>
                    <span id="s2">areer</span>
                    <span id="s3">V</span>
                    <span id="s4">iew</span>
                </div>
                <p>Where Your Career Aspirations Meet Reality</p>
            </div>
        </div>

        <div class="login-box"> 
            <div>
                <!-- <a routerLink="/Home" id="cancel"><i class="fa-solid fa-x"></i></a> -->
            </div>
            <input id="username" type="text" placeholder="Username" #username>
            <input id="password" type="text" placeholder="password" #passward>
            <button id="log-btn" (click)="loginclicked()">Log in</button>
            <a href="">Forgotten password?</a>
            <hr>

            <button id="create-btn">Create new account</button>
        </div>

    </div>
</div>