.sectors-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.sectors-main{
    width: 80vw;
    margin: 0 10vw;
}

.sector-heading{
    color: #177580;
    padding-bottom: 7vh;
    padding-top: 2vh;
    /* height: 30vh; */
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    scale: .8; opacity: 0;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 100px 500px;
} 

@keyframes fadein {
    to { scale: 1; opacity: 1;}    
}


.sectors-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

/* .divider{
    width: 90vw;
    min-height: 50vh;
    margin: 0 6vw;
} */
  
.sector{
    /* width: 21vw; */
    /* min-height: 29vh; */
    /* margin: 1vh .5vw; */
    cursor: pointer;
    /* display: inline-block; */
    background-color: white;
    background-size: cover;
    background-position: center;
    scale: .8; opacity: 0.2;
    color: black;
    border: 1px solid black;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 100px 250px;
}

.sectors-box a{
    opacity: 0.2;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 100px 160px;
}

.sector:hover{
    margin: 0vh 0vw;
    transform: scale(1.02);
    box-shadow: 1px 3px 10px rgb(86, 85, 85);
}

.name{
    color: #ffffff;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 24vh;
    text-align: end;
}

a{
    float: right;
    /* margin-left: 62vw; */
    color: #177580;
    text-decoration: none;
}

a:hover{
    color: #b6ee1a;
}

@media (max-width:740px) {

    .sector-heading{
        font-size:xx-large;
    }

    .name{
        font-size:x-large;
    }

}

