.sectors-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.sectors-main{
    width: 90vw;
    margin: 0 5vw;
}

.sector-heading{
    color: #177580;
    padding-top: 15vh;
    /* padding-top: 70px; */
    /* height: 30vh; */
    font-size: 50px;
    font-weight: bold;
    text-align: center;
} 

.sectors-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 5vw;
    padding-left: 1.5vw;
}

.divider{
    width: 90vw;
    height: 50vh;
    margin: 0 6vw;
    /* margin: 10vh 10vw; */
}
  
.sector{
    width: 21vw;
    height: 29vh;
    margin: 1vh .5vw;
    cursor: pointer;
    display: inline-block;
    background-color: white;
    background-size: cover;
    background-position: center;
    /* opacity: 0.7; */
    color: black;
    border: 1px solid black;
}

.sector:hover{
    width: 22vw;
    /* height: 31vh; */
    margin: 0vh 0vw;
    box-shadow: 1px 3px 10px rgb(86, 85, 85);
}

.name{
    color: #ffffff;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 24vh;
    text-align: end;
}

a{
    float: right;
    /* margin-left: 62vw; */
    color: #177580;
    text-decoration: none;
}

a:hover{
    color: #b6ee1a;
}