<div class="pn-container">
    <div class="pn-main">
        <div class="pn-heading">
            <p>Privacy Notice</p>
            <div class="pn-heading-des">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ullam alias iusto aperiam sed, sit corporis odit magnam porro soluta hic eligendi explicabo quaerat eos, voluptates repellendus tempora. Odit labore repellendus soluta vel pariatur officiis cupiditate voluptatem accusantium ex molestiae nihil, facere vitae odio cum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ex iure quisquam commodi quas explicabo facilis repellendus maiores, natus odit ea! Delectus at culpa vero aspernatur dicta. Impedit, debitis maiores?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero veniam asperiores doloremque harum iste in debitis, maiores cupiditate accusamus. Alias eius ut sapiente harum magnam. Unde aperiam aut, doloribus soluta, exercitationem libero in molestiae ex fugit suscipit, et possimus! Vel rem necessitatibus natus temporibus molestias dolor quidem sapiente deleniti eveniet.</p>
            </div>
        </div>


        <div class="section1">
            <div class="s1-heading">
                <p>How do we protect your personal data</p>
            </div>
            <div class="s1-des">
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae distinctio fugit consectetur nulla dolore inventore emporibus dignissimos beatae, repellat nisi! Temporibus repellendus sapiente iusto omnis atque modi adipisci unde doloribus. Assumenda suscipit dolore incidunt, provident maxime consequatur aspernatur repudiandae quam ab fuga necessitatibus obcaecati odio sequi animi, earum sed? Repellendus.</P>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, asperiores sint a et corporis vel aliquam quis tempora tempore maxime ipsa dolor earum nemo architecto amet vitae soluta, quae quaerat!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, soluta. Temporibus ratione voluptates eligendi? Tenetur aspernatur illo alias suscipit molestias earum deleniti repellendus vitae doloribus dolor obcaecati nam ullam pariatur architecto illum excepturi eveniet odio voluptate amet, ex, fugit quia placeat. Tenetur, delectus natus quae incidunt nemo harum odit architecto!</p>
            </div>
        </div>

        <div class="section2">
            <div class="s2-heading">
                <p>How do we use personal data </p>
            </div>
            <div class="s2-des">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore laborum dolorem, a nobis ipsam vel totam earum ut sunt illo veritatis enim harum unde numquam facere! Iste, sapiente facilis. Ipsam iste repellendus incidunt animi ipsa?</p>

                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
                </ul>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, delectus aut! Ipsum dolores eveniet dicta illo amet. Tenetur quas iusto, asperiores impedit consectetur quidem! Non quam molestias beatae. Adipisci officiis quis nulla veritatis ea sint obcaecati fugit asperiores, incidunt reprehenderit dolores temporibus inventore. Sapiente, soluta.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolores ab numquam alias laboriosam labore nobis vitae omnis debitis ad dolore ducimus enim minus, vel perferendis nihil eaque possimus esse culpa laudantium officiis consectetur obcaecati aliquid. Ut nam repellat doloremque iste laboriosam, quisquam eveniet vel magnam tempore assumenda dolore eligendi veritatis dolor recusandae porro ab consequatur nobis fugiat minus non voluptatum maiores, quos expedita. Sit, labore corrupti.</p>
            </div>
        </div>
        <div class="section3">
            <div class="s3-heading">
                <p>How do we use personal data when you visit our offices</p>
            </div>
            <div class="s3-des">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum illum eum ipsa optio nihil veniam minima commodi, quidem error sit. Quia quos recusandae officia laudantium quasi minus expedita porro nisi, in consectetur sapiente ipsum, quis ut adipisci eius architecto labore obcaecati, quaerat odit. Dolorem consequatur natus ut quos voluptatibus unde aliquid illo, ducimus illum impedit. Ducimus alias maxime magni voluptatibus.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic dicta reprehenderit aliquam velit eius, earum deserunt inventore, quae impedit nesciunt cupiditate. Fugit est fuga, nesciunt voluptatem voluptate aliquam pariatur labore.</p>
            </div>
        </div>

       
    </div>
</div>