.banner-container {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(50deg, black 65%, rgba(255, 255, 255, 0.073) 35%);
    display: flex;
    justify-content: center;
}

.banner-main {
    min-height: 80vh;
    padding-top: 13vh;
    animation: fadeout linear;
    animation-timeline: view();
    animation-range: exit -150px;
    animation-duration: 1ms;
}

.divider{
    width: 60vw;
}


@keyframes imgfadeout {
    to {
        opacity: 0;
    }
}


@keyframes fadeout {
    to {
        opacity: 0; scale: .7;
    }
}

.banner-head h1{
    width: fit-content;
}

.text{
    border-right: 5px solid #177580;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(33) infinite alternate,
               cursor .4s step-end infinite alternate;
}

@keyframes typing {
    from {width: 0;}
}

@keyframes cursor {
    50% {border-color: transparent;}
}

.sideimg {
    position: absolute;
    top:0;
    right: 0;
    z-index: -99;
    width: 70vw;
    min-height: 100vh;
    overflow: hidden;
    background-position: initial;
    background-size: cover;
    opacity: 1;
    animation: imgfadeout linear;
    animation-timeline: view();
    animation-range: exit -350px;
    animation-duration: 1ms;
}

/* .sideimg::before{
    content:'';
    left: 18.1em;
    position:sticky;
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    width: 40%;
    background-color: black;
    height: 120%;
} */

.banner-head {
    /* width: 80vw; */
    padding-top: 15vh;
    min-height: 25vh;
    color: #177580;
    font-size: xx-large;
    font-weight: bold;
}

.banner-description {
    width: 50vw;
    padding-top: 0%;
    color: white;
    font-size: large;
}

.search {
    margin-top: 20px;
    width: 40vw;
    min-height: 5vh;
    border-radius: 30px;
    padding-left: 10px;
    color: white;
    background-color: transparent;
    border: 2px solid #177580;
}

.search-btn {
    margin-top: 20px;
    margin-left: 10px;
    width: 5vw;
    min-height: 5vh;
    background-color: transparent;
    color: #177580;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.search-btn :hover {
    font-size: 18px;
}

i {
    font-size: 15px;
}

@media (max-width:740px) {
    .banner-head h1{
        font-size:40px;
    }

    .text{
        font-size:x-large;
    }

}
