<div class="banner-container">
    <div class="banner-main"> 
        <div class="banner-head">
            <h1>Dream, innovate, achieve:</h1>
            <h1>Your career story starts here</h1>
        </div>
        <div class="banner-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam provident doloribus voluptas at sint quaerat quibusdam, necessitatibus nam deleniti nisi perferendis in ratione tempore ducimus non magni, possimus assumenda cupiditate reiciendis. Fugiat labore, fugit officia temporibus est provident vitae similique quidem veritatis veniam quae distinctio?</p>
        </div>
    
        <div class="banner-search">
            <input type="text" class="search" placeholder="search enter"  #rearchtext>
            <button class="search-btn" (click)="searchclicked(rearchtext.value)"><i class="fa-solid fa-magnifying-glass">search</i></button>
        </div>
    </div>
    <!-- <div class="sideimg" style="background-image: url(../../../assets/bannerback1.jpg);"></div> -->
</div>