<div class="cu-container">
    <div class="cu-main">
        <div class="cu-heading">
            <p>Contact CareerView</p>
            <div class="cu-head-des">
                <p>We appreciate your interest in CareerView. Please enter the details below.</p>
            </div>
        </div>

        <div class="cu-general">
            <p>General Inquiries</p>
            <div class="cu-general-info">
                <div class="info1">
                    <p>1800091091</p>
                    <div class="info1-des">
                        <p>Toll-free from India</p>
                    </div>
                </div>

                <div class="info2">
                    <p>+4233019480</p>
                    <p>+4233792240</p>
                    <div class="info2-des">
                        <p>Outside the India</p>
                    </div>
                </div>

                <div class="info3">
                    <p>Find A Location</p>
                    <div class="info3-des">
                        <p>View a list of local CareerView office information.</p>
                    </div>
                    <div class="location">
                        <a href="https://www.google.com/maps/@17.4227456,78.6399232,14z?entry=ttu" target="main"><i class="fa-solid fa-location-dot"></i> Find office locations</a>
                    </div>
                </div>

            </div>

            <div class="cu-analyst">
                <div class="cu-analyst-head">
                    <p>Our Analysts</p>
                </div>
                <div class="cu-analyst-des">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere in, expedita esse voluptates soluta iste neque rerum dolores. Repudiandae dolorum quaerat ab ea nostrum, ad nobis blanditiis a corrupti tenetur rem incidunt? Inventore rerum dolorum doloribus, ullam itaque voluptas sed! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo corrupti optio assumenda ipsa minus repellat quia enim at praesentium, consequatur magni libero quae rerum temporibus.</p>
                </div>
            </div>

            <div class="contact-head">
                <p>Get in touch below, for specific questions</p>
            </div>
    
            <div class="contact-details">
                <div class="divider">
                    <div class="name">
                        <h4>Name</h4>
                        <input id="name" type="text" placeholder="Name">
                    </div>
                    <div class="email">
                        <h4>Email</h4>
                        <input id="email" type="text" placeholder="Email">
                    </div>
                    <div class="contact">
                        <h4>Contact</h4>
                        <input id="contact" type="text" placeholder="Contact">
                    </div>
                    <div class="reagion">
                        <h4>Reagion</h4>
                        <select aria-label="Reagion" id="Reagion">
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Chennai">Chennai</option>
                            <option value="pune">pune</option>
                            <option value="Bangalore">Bangalore</option>
                        </select>
                    </div>
                    <div class="meassage">
                        <h4>Message</h4>
                        <textarea id="meassage" cols="139" rows="8" placeholder="Message"></textarea>
                    </div>
                    <button class="sub-btn">Submit</button>
                </div>
            </div>    
        </div>
    </div>
</div>