.cu-container{
    width: 100vw;
    color: white;
}

.cu-main{
    width: 80vw;
    margin: 0vh 10vw;
}

.cu-heading{
    padding-top: 25vh;
    color: #177580;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    animation: heading-fadein linear .7s forwards;
}

.cu-head-des{
    padding-top: 1vh;
    color: white;
    font-size: large;
    font-weight: lighter;
    opacity: 0;
    animation: heading-fadein linear .7s forwards;
}

.cu-general{
    width: 80vw;
    margin-left: 6vw;
    margin-top: 10vh;
    color:#177580;
    font-size:xx-large;
    font-weight: bold;
}


.cu-general-info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    color: white;
    opacity: 0;
    animation: heading-fadein linear .8s forwards;
}

.cu-g-head{
    margin-bottom: 10vh;
    opacity: 0;
    animation: heading-fadein linear .7s forwards;
}

.info1{
    /* width: 20vw; */
    /* margin-top: 5vh; */
    margin-bottom: 3vh;
    font-size: x-large;
    font-weight: bold;
}

.info1-des{
    margin-top: 1vh;
    font-size: large;
    font-weight: lighter;
}

.info2{
    /* display: block; */
    /* width: 20vw; */
    margin-bottom: 3vh;
    font-size: x-large;
    font-weight: bold;
}

.info2-des{
    margin-top: 1vh;
    font-size: large;
    font-weight: lighter;
}

.info3{
    /* display: block; */
    /* width: 30vw; */
    margin-bottom: 3vh;
    font-size: x-large;
    font-weight: bold;
}

.info3-des{
    margin-top: 1vh;
    font-size: large;
    font-weight: lighter;
}

.location {
    margin-top: 1vh;
    font-size: large;
    font-weight: lighter;
}

.location i{
    float: left;
    margin-right: 1vw;
}

.location a{
    text-decoration: none;
}

.cu-analyst{
    width: 80vw;
}

.cu-analyst-head{
    margin-top: 5vh;
    color:#177580;
    font-size:xx-large;
    font-weight: bold;
    opacity: 0;
    animation: heading-fadein linear .7s forwards;
}

.cu-analyst-des{
    margin-top: 5vh;
    padding-right: 5vw;
    color: white;
    font-size: large;
    font-weight: lighter;
    opacity: 0;
    animation: heading-fadein linear .8s forwards;
}

.contact-head{
    margin-top: 15vh;
    width: 80vw;
    float: left;
    color:#177580;
    font-size:xx-large;
    font-weight: bold;
    scale: .9; opacity: 0.1;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 150px;
}

.contact-details{
    width: 70vw;
    margin: 10vh 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.name{
    width: 30vw;
    height: 8vh;
    margin: 2vh 2.2vw;
    display: inline-block;
    font-size: large;
    font-weight: lighter;
    scale: .8; opacity: 0.1;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 150px;
}

#name{
    width: 30vw;
    height: 5vh;
    margin-top: 5px;
}

.email{
    width: 30vw;
    height: 8vh;
    margin: 2vh 2.1vw;
    display: inline-block;
    font-size: large;
    font-weight: lighter;
    scale: .8; opacity: 0.1;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 150px;
}

#email{
    width: 30vw;
    height: 5vh;
    margin-top: 5px;
}

.contact{
    width: 30vw;
    height: 8vh;
    margin: 2vh 2.2vw;
    display: inline-block;
    font-size: large;
    font-weight: lighter;
    scale: .8; opacity: 0.1;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 150px;
}

#contact{
    width: 30vw;
    height: 5vh;
    margin-top: 5px;
}

.region{
    width: 30vw;
    height: 8vh;
    margin: 2vh 2.1vw;
    display: inline-block;
    font-size: large;
    font-weight: lighter;
    scale: .8; opacity: 0.1;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 150px;
} 
 
#Region{
    width: 30vw;
    height: 5vh;
    margin-top: 5px;
}

.meassage{
    width: 65vw;
    height: 18vh;
    margin: 2vh 2.1vw;
    font-size: large;
    font-weight: lighter;
    scale: .8; opacity: 0.1;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 150px;
}
 
textarea{
    width: 64.8vw;
    height: 15vh;
    margin: 2vh 0; 
    outline: none;
}

.sub-btn{
    width: 65vw;
    height: 5vh;
    margin: 2vh 2.1vw;
    background-color: #b6ee1a;
    scale: .8; opacity: 0.1;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 100px;
}

@keyframes heading-fadein {
    to { opacity: 1;}
}

@keyframes fadein {
    to { scale: 1; opacity: 1;}    
}

@media (max-width:740px){
    .cu-heading{
        font-size:40px;
    }

    .maintag{
        font-size: 30px;
    }
}
