/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}

body{
    /* background: linear-gradient( to bottom right, rgb(0, 0, 28), #15482f) ; */
    background-color: #000000;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}