.cs-container{
    width: 100vw;
}

.cs-main{
    width: 80vw;
    margin: 0vh 10vw;
}

.cs-heading{
    padding-top: 25vh;
    /* height: 30vh; */
    color: #177580;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    animation: heading-fadein linear .8s forwards;
}

.section1{
    width: 80vw;
    /* height: 75vh; */
    margin-top: 10vh;
    color: white;
    /* display: block; */
}

.section1-head{
    margin-left: 3vw;
    font-size: x-large;
    font-weight: bold;
    opacity: 0;
    animation: heading-fadein linear .8s forwards;
}

.section1-des{
    width: 75vw;
    /* height: 75vh; */
    margin-left: 3vw;
    margin-top: 5vh;
    margin-bottom: 20vh;
    color: white;
    /* display: block;    */
    font-size: large;
    font-weight:lighter;
    opacity: 0;
    animation: heading-fadein linear .8s forwards;
}

.section1-des p{
    margin: 5vh 0vw;
    margin-left: 0vw;
    width: 75vw;
}

.sectors-list{
    width: 70vw;
    margin:5vh 5vw;
    /* background-color: #177580; */
}

.sector{
    scale: .9; opacity: 0.2;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 100px 250px;
}

.name{
    width: 70vw;
    height: 35vh;
    margin: 1.5vh 0vw;
    color: white;
    /* padding-top: 30vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: xx-large;
    font-weight: bolder;
    margin-right: 1vw;
    text-align: end;
}

.name:hover{
    width: 72vw;
    /* height: 35.5vh; */
    margin: 0vh -1vw;
    /* box-shadow: 1px 3px 10px rgb(86, 85, 85); */
}

#backhome{
    width:10vw;
    height: 5vh;
    background-color: #177580;
    border: 1px solid #177580;
    font-size:medium;
    font-weight: lighter;
    float: right;
}
 
#backhome:hover{
    color: white;
}

@keyframes heading-fadein {
    to { opacity: 1;}
}

@keyframes fadein {
    to { scale: 1; opacity: 1;}    
}

@media (max-width:740px){
    .cs-heading{
        font-size:40px;
    }
}

@media (max-width:1155px){
    #backhome{
        width: 15vw;
    }
}
@media (max-width:770px){
    #backhome{
        width: 24vw;
    }
}
