.cs-container{
    width: 100vw;
}

.cs-main{
    width: 80vw;
    margin: 0vh 10vw;
}

.cs-heading{
    padding-top: 25vh;
    color: #177580;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    animation: heading-fadein linear .8s forwards;
}

.section1{
    width: 80vw;
    margin-top: 10vh;
    color: white;
}

.section1-head{
    margin-left: 3vw;
    font-size: x-large;
    font-weight: bold;
    opacity: 0;
    animation: heading-fadein linear .8s forwards;
}

.section1-des{
    width: 75vw;
    margin-left: 3vw;
    margin-top: 5vh;
    margin-bottom: 20vh;
    color: white;
    font-size: large;
    font-weight:lighter;
    opacity: 0;
    animation: heading-fadein linear .8s forwards;
}

.section1-des p{
    margin: 5vh 0vw;
    margin-left: 0vw;
    width: 75vw;
}

.sectors-list{
    width: 70vw;
    margin:5vh 5vw;
}

.sector{
    scale: .9; opacity: 0.2;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 100px 250px;
}

.name{
    width: 70vw;
    height: 35vh;
    margin: 1.5vh 0vw;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: xx-large;
    font-weight: bolder;
    margin-right: 1vw;
    text-align: end;
}

.name:hover{
    width: 72vw;
    margin: 0vh -1vw;
}

#backhome{
    width:10vw;
    height: 5vh;
    background-color: #177580;
    border: 1px solid #177580;
    font-size:medium;
    font-weight: lighter;
    float: right;
}
 
#backhome:hover{
    color: white;
}

@keyframes heading-fadein {
    to { opacity: 1;}
}

@keyframes fadein {
    to { scale: 1; opacity: 1;}    
}

@media (max-width:740px){
    .cs-heading{
        font-size:40px;
    }
}

@media (max-width:1155px){
    #backhome{
        width: 15vw;
    }
}
@media (max-width:770px){
    #backhome{
        width: 24vw;
    }
}

@media (max-width:431px) and (max-height:935px){    
    .cs-heading{
        padding-top: 15vh;
        font-size: 23px;
    }
    
    .section1{
        margin-top: 5vh;
    }
    
    .section1-head{
        font-size: large;
    }
    
    .section1-des{
        margin-top: 2vh;
        margin-bottom: 10vh;
        font-size: medium;
    }
    
    .section1-des p{
        margin: 2vh 0vw;
    }
    
    .name{
        height: 15vh;
        font-size:large;
        font-weight: bold;
    }
    
    #backhome{
        width:35vw;
        height: 3vh;
        font-size:medium;
    }
     
}
