.contact-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.contact-main{
    width: 80vw;
    margin: 0vh 10vw;
}

.contact-head{
    color: #177580;
    padding-top: 15vh;
    /* padding-top: 70px; */
    /* height: 30vh; */
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 50px;
    scale: .8; opacity: 0;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 100px 500px;
}

.contact-details{
    width: 70vw;
    margin: 10vh 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    width: 30vw;
    min-height: 8vh;
    margin: 2vh 2.2vw;
    display: inline-block;
    scale: .8; opacity: 0.1;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 150px;
}

#name{
    width: 30vw;
    min-height: 5vh;
    margin-top: 5px;
    /* margin: 2vh 2.2vw;  */
}

.email{
    width: 30vw;
    min-height: 8vh;
    margin: 2vh 2.1vw;
    display: inline-block;
    scale: .8; opacity: 0.1;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 150px;
}

#email{
    width: 30vw;
    min-height: 5vh;
    margin-top: 5px;
}

.contact{
    width: 30vw;
    min-height: 8vh;
    margin: 2vh 2.2vw;
    display: inline-block;
    scale: .8; opacity: 0.1;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 150px;
}

#contact{
    width: 30vw;
    min-height: 5vh;
    margin-top: 5px;
    /* margin: 2vh 2.2vw;  */
}

.region{
    width: 30vw;
    min-height: 8vh;
    margin: 2vh 2.1vw;
    display: inline-block;
    scale: .8; opacity: 0.1;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 150px;
}

#Region{
    width: 30vw;
    min-height: 5vh;
    margin-top: 5px;
    /* margin: 2vh 2.1vw;  */
}

.meassage{
    width: 65vw;
    min-height: 18vh;
    margin: 2vh 2.1vw;
    scale: .8; opacity: 0.1;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 150px;
}


textarea{
    width: 64.8vw;
    min-height: 15vh;
    margin: 2vh 0; 
    outline: none;
}

.sub-btn{
    width: 65vw;
    min-height: 5vh;
    margin: 2vh 2.1vw;
    background-color: #b6ee1a;
    /* font-size: larger;
    font-weight: bold; */
    cursor: pointer;
    scale: .8; opacity: 0.1;
    animation: fadein linear forwards;
    animation-timeline: view();
    animation-range: 50px 100px;
}

@keyframes fadein {
    to { scale: 1; opacity: 1;}    
}

@media (max-width:740px) {

    .contact-head{
        font-size:xx-large;
    }

}
