<div class="contact-container">
    <div class="contact-main">
        <div class="contact-head">
            <p>Thank you for your interest towards CreerView, you can find the best way to contact us below.</p>
        </div>

        <div class="contact-details">
            <div class="divider">
                <div class="name">
                    <h4>Name</h4>
                    <input id="name" type="text" placeholder="Name">
                </div>
                <div class="email">
                    <h4>Email</h4>
                    <input id="email" type="text" placeholder="Email">
                </div>
                <div class="contact">
                    <h4>Contact</h4>
                    <input id="contact" type="text" placeholder="Contact">
                </div>
                <div class="reagion">
                    <h4>Reagion</h4>
                    <select aria-label="Reagion" id="Reagion">
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Chennai">Chennai</option>
                        <option value="pune">pune</option>
                        <option value="Bangalore">Bangalore</option>
                    </select>
                </div>
                <div class="meassage">
                    <h4>Message</h4>
                    <textarea id="meassage" cols="139" rows="8" placeholder="Message"></textarea>
                </div>
                <button class="sub-btn">Submit</button>
            </div>
        </div>
    </div>
</div>
